<form class="" action="/posts" method="post">
<p>Post Name: <input type="text" name="name" value=""></p>
<p>Post Content: <input type="text" name="content" value=""></p>
<input id="hidden" type="hidden" name="_method" value="patch">
<input type="submit" value="submit">
</form>
